<div class="flex flex-col items-start w-[100%] py-2 justify-start main">
  <h2 class="head">Career</h2>
  <ul class="career px-6 text-left sm:text-justify text-xs sm:text-base">
    <li>
      <strong class="text-base sm:text-lg">Web Development Intern</strong> @ Techversant
      Infotech, <br /> May '22 - Nov '22
    </li>
    <li>
      <strong class="text-base sm:text-lg">SDE Intern</strong> @ Agprop Consultants
      LLP, <br /> Dec '22 - July '23
    </li>
  </ul>
</div>
<style>
  .main {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    /* background-color: white; */
    padding: 1rem;
    border-radius: 0.4rem;
    text-align: justify;
  }

  .career {
    list-style-type: disc;
  }

  .career strong {
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
</style>
