<div class="flex flex-col items-start w-[100%] py-2 justify-start main pb-4">
  <h2 class="head">Extras</h2>
  <div class="extras">
    <span class="flex"
      ><h2><strong>ACM Student Chapter</strong>&nbsp;|&nbsp;</h2><p>
        Chaiperson
      </p></span
    >
    <span class="text-xs text-gray-300">2022 - 2023</span>
    <ul class="list-disc px-6">
      <li>
        Organized and facilitated 4 technical events and workshops for ACM
        Student Chapter of my college.
      </li>
      <li>
        Leading a team of 10 members to help and encourage college students for
        a better career in tech.
      </li>
    </ul>
  </div>
  <br />
  <div class="extras">
    <span class="flex"
      ><h2>
        <strong>Open Source Software and Cyber Security Center</strong
        >&nbsp;|&nbsp;
      </h2><p>Lead</p></span
    >
    <span class="text-xs text-gray-300">2022 - Present</span>
    <ul class="list-disc px-6">
      <li>
        Leading a team of 20 developers to work towards the development ideas
        that would help and faciliate college and students.
      </li>
      <li>
        Organising events to teach fellow students about opportunities in open
        source and open source technologies.
      </li>
    </ul>
  </div>
  <br />
  <div class="extras">
    <span class="flex"
      ><h2><strong>Google Developer Student club</strong>&nbsp;|&nbsp;</h2><p>
        Tech Lead
      </p></span
    >
    <span class="text-xs text-gray-300">2021 - Present</span>
    <ul class="list-disc px-6">
      <li>
        Managining and Developing portals to host events and workshops for the
        club.
      </li>
      <li>Took session as a speaker on Google Cloud Platform.</li>
    </ul>
  </div>
</div>
<style>
  .main {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    /* background-color: white; */
    padding: 1rem;
    border-radius: 0.4rem;
    text-align: justify;
  }

  .extras strong {
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
</style>
