---
import { Sprite } from "astro-icon";
---

<Sprite.Provider>
    <div class="w-full my-4 mt-8">
        <hr />
        <div class="flex justify-between w-full my-4">
            <p class="text-sm sm:text-base">Abhinav Verma</p>
            <span class="flex gap-3">
                <a href="https://github.com/abhinavv9" target="_blank">
                    <Sprite name="mdi:github" class="w-6 h-6" />
                </a>
                <a
                    href="https://www.linkedin.com/in/abhinavv9/"
                    target="_blank"
                >
                    <Sprite name="mdi:linkedin" class="w-6 h-6" />
                </a>
                <a href="https://X.com/sudoboink" target="_blank">
                    <Sprite name="mdi:alpha-x" class="w-6 h-6" />
                </a>
            </span>
        </div>
    </div>
</Sprite.Provider>
